//@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$font-color: #faf5f2;
$font-family: Roboto;
$radius: 150px;
$nav-height: 50px;

html {
  scroll-behavior: smooth;
  font: 1em Candal;
}

#main{
  
  position: absolute;
  top: 0;
  left:0;
  width:100vw;
}

 .corner{
    position: fixed;
    height: $radius+$nav-height;
    width: $radius;
    left: 0px;
    top: $nav-height;
    z-index:1;
    background-color: transparent;
    border-top-left-radius: $radius;
    box-shadow: 0px 0px 0px $radius  #ad776e;
    clip: rect(0px, $radius, $radius, 0px);
    }

.navbar{
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  
  &-top{
    top: 0px;
    height: $nav-height;
    width: 100%;
    background-color: #ad776e;
    opacity:1;
    a{
      color: $font-color;
      text-decoration: none;
      width: auto;
      margin: 10px 30px;
      font: 1.5em $font-family;
      &:hover{
        color: #63030c;
      }
      &:last-child{
        margin-right: 30px;
      }
    }
  }
  
  &-left{
    top: 70%;
    transform: translatey(-70%);
    flex-direction: column;
    height: 200px;
    width: 60px;
    z-index:1;
    border-top-right-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    justify-content: space-evenly;
    background-color: #e0a69c;
    
    .link{
      padding: 5px;
      margin-bottom: 0;
      color: $font-color;
      svg {&:hover  path,circle{
        fill:#63030c;
      }}
    }
  }
}


.portfolio_section{
  padding: 120px 60px 100px 100px;
  position: relative;
  border-bottom-right-radius: $radius;
  border-top-left-radius: $radius;
  &:before, &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &:after{
    border-top-left-radius: $radius;
    }
  &:last-child{
    border-bottom-right-radius: 0px;
  }
  &:first-child{
    border-top-left-radius: 0px;
  }
 }

#portfolio{
.title_section{
 background-color: #e0a69c;
  &:after{
    background-color: #ffd8cd ;
    }
  &:before{
    background-color:white;
  }
}

  
.project_section{
 background-color: #ffd8cd;
 &:after{
    background-color: #7c4b43;
  }
  &:before{
    background-color: #e0a69c;
  }
}
  
.about_skills_section{
 background-color: #7c4b43;
   border-bottom-right-radius: 0;
 &:after{
    background-color: #7c4b43;
  }
   &:before{
    background-color: #ffd8cd;
  }
}

.contact_section{
 background-color: #ffd8cd;
  
  &:before{
    background-color: #7c4b43;
  }
 }
}

  .label{
    background-color: #ffd8cd;
    font: 1.5em $font-family;
    position: absolute;
    right: 0px;
    top: 50px;
    padding: 5px 30px;
    color:#63030c;
    border-bottom-left-radius: 15px;
    &-project{
      background-color:  $font-color;
    }
    &-skills{
      background-color: #ffd8cd;
    }
    &-contact{
      background-color: #e0a69c;
      top: 0px;
    }
  }

#title{
  display:flex;
  justify-content:space-around;
  align-items: center;
  .title-textbox{
    font: 1.8em $font-family;
    margin-right:20px;
    width: 70%;
    h2{
      text-align: center;
    }
 }
  .photo{
    flex-grow:1;
    
    height: 400px ;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    background-image: url(http://preview.ibb.co/bzomSc/DSCN1224.jpg);
    background-size: cover;
    background-position:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
#project{
  padding: 120px 60px 50px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  .proj{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    margin: 20px;
    background-size: cover;
    height: 300px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    &:hover{
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 1);
    }
    .link_project{
       width: calc(15%*300/350);
       height: 15%;
       padding: 3px 5px;
       background-color: #ad776e;
       box-shadow: 1px 2px 10px rgba(0, 0, 0, 1);
       border-top-right-radius: 12px;
       border-bottom-right-radius: 12px;
       position: absolute;
       bottom: 5%;
       left: 0%;
       a{
          text-decoration: none;
          color: $font-color;
          text-align: center;
      }
       svg {
        &:hover  path,circle{
        fill:#63030c;
          }
        }
      }
      
    .proj_name{
       background-color: #7c4b43;
       font: 1.1em $font-family;
       position: absolute;
       right: 0px;
       top: 0px;
       padding: 10px 30px;
       color:$font-color;
       border-bottom-left-radius: 15px;
       max-width:100%;
      }
    
    .info{
       background-color: #ffd8cd;
       font: 1.1em $font-family;
       position: absolute;
       display: flex;
       flex-direction: column;
       justify-content: center;
       left: 0;
       top: 25%;
       width:50%;
       height:45%;
       padding: 5px 15px;
       color:#63030c;
       border-top-right-radius: 15px;
       border-bottom-right-radius: 15px;
      p{margin: 5px}
    }
    .opacity{
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      background-color: $font-color;
    }
  }
}

#about{
  //height: 60vh;
  div:not(.label) {
    font: 2em $font-family;
    margin: 20px;
    text-align: justify;
  }
}

#contact{  
  display:flex;
  flex-direction: column;
  align-items: center;
  .links{
    display: flex;
    justify-content:center;
    align-items: center;
    .link{
      margin: 15px 20px;
      padding: 2px 2px 0px 1px;
      border-radius:15px;
      width: 5%;
      svg { path,circle{
        fill:#63030c;
        }
       }
      &:hover{
      background-color: #63030c;
      path,circle{
       fill: $font-color;
       }
     }
    }
  }
  .contact_email{
    padding:5px 15px;
    text-align: center;
    width: max-content;
    border-radius:15px;
     &:hover{
       background-color: #63030c;
       a{ color: $font-color;}
       } 
    a{
    text-decoration: none;
    color: #63030c;
    font: 1.5em $font-family;;
    font-weight: 600;
    text-align: center;
     }
  }
}

@media screen and (max-width: 768px){
 
html {
  overflow: hidden;
  height: 100%;
  overflow-y: scroll;
}
  
.main{
  height: 100%;
  width:100vw;
  overflow-y: scroll;
  position: relative;
}
.portfolio_section{
   border-top-left-radius: 0px;
   padding: 60px 20px 40px 40px; 
}
#title{
    flex-direction: column;
    justify-content:center;
    .photo{
      height: 300px;
      width: 70%;
    }
    .title-textbox{
      margin: 0px;
      width: 80vw;
      text-align: justify;
      font: 1.1em $font-family;
     }
}
#project{
    padding: 80px 10px;
    width:100%;
    .proj{
      margin-bottom: 0px;
      width: 300px;
      height:250px;
      font:0.8em $font-family;
      .link_project{
        padding: 2px 3px;
        svg{
           display: inline-block;
         }
       }
    }
 }
#about{
  div:not(.label) {
    font: 1.1em $font-family;
    margin: 20px 0px;
  }
}
#contact{
 padding-bottom: 20px;
 border-top-left-radius: $radius;
   .links>.link{width: 10%;}
   .contact_email>a{font: 1.1em $font-family;}
    }
  p{margin:10px}
  .corner{display: none}
  .navbar-top{
    height: 30px;
    justify-content: space-around;
    a{
      margin: 10px 10px;
      font: 1em $font-family;
      &:last-child{margin-right: 10px}
    }
  }
.label{
  font: 1.1em $font-family;
  top: 30px;
  &-contact{top: 0px}
}
.navbar-left{
    top: 80%;
    transform: translatey(-80%);
    padding: 3px 0px;
    height: 150px;
    width: 40px;
  }
}
